<style>
    table, th, td {
        border: 1px solid black;
    }
</style>

<div class ="container text-center">

<h1 >CSP Reports</h1>

<div >
    <button id="left" ><i class="ion-ios-arrow-back"></i></button>
    <button id="right"><i class="ion-ios-arrow-forward" ></i></button>
</div>

<!--<select id="limit">-->
    <!--<option  value="5">5</option>-->
    <!--<option  value="10">10</option>-->
<!--</select>-->

<form class="responstable" id= "searchField" action="/test">
    <table id="csp">
        <tbody id="tableHead">
            <tr class="filterRow">
                <td>
                    <input type="text" name="domain"/>
                </td>
                <td>
                    <input type="text" name="document"/>
                </td>
                <td>
                    <input type="text" name="blocked-uri"/>
                </td>
                <td>
                    <input type="text" name="violation"/>
                </td>
                <td>
                    <input type="text" name="date"/>
                </td>
                <input type="submit">
            </tr>
            <tr class="tableHeader">
                <th>domain</th>
                <th>document-URI</th>
                <th>blocked-uri</th>
                <th>violated-directive</th>
                <th>date</th>
            </tr>
        </tbody>
        <tbody id="tableContent">

        </tbody>
        <tr >

        </tr>


    </table>
</form>

<button id="load">load</button>

</div>
