
/*.content {*/
  /*min-height: 250px;*/
  /*padding: 15px;*/
  /*margin-right: auto;*/
  /*margin-left: auto;*/
  /*padding-left: 15px;*/
  /*padding-right: 15px;*/
/*}*/

/*.row {*/
  /*margin-right: -15px;*/
  /*margin-left: -15px;*/
  /*margin-bottom: 20px;*/
/*}*/

/*#info{*/
  /*display: flex;*/
  /*justify-content: center;*/
  /*width: 100%;*/
/*}*/

/*.infobox {*/
  /*display:flex;*/
  /*min-height: 90px;*/
  /*background: #00c0ef;*/
  /*box-shadow: 0 1px 1px rgba(0,0,0,0.1);*/
  /*border-radius: 2px;*/
  /*justify-content: center;*/
  /*align-items: center;*/
  /*width: 40%;*/
/*}*/

/*.info-box-text{*/
  /*display:block;*/

/*}*/

/*#cog {*/
  /*font-size: 30px;*/
  /*color:white;*/
/*}*/

/*.infobox-content{*/
  /*padding: 5px 10px;*/
  /*background-color: #fff;*/
/*}*/

/*.box{*/
  /*position: relative;*/
  /*border-radius: 3px;*/
  /*background: #ffffff;*/
  /*border-top: 3px solid #d2d6de;*/
  /*margin-bottom: 20px;*/
  /*box-shadow: 0 1px 1px rgba(0,0,0,0.1);*/
/*}*/

/*.box-header{*/
  /*color: #444;*/
  /*display: block;*/
  /*padding: 10px;*/
  /*position: relative;*/
/*}*/

/*.box-body {*/
  /*border-top-left-radius: 0;*/
  /*border-top-right-radius: 0;*/
  /*border-bottom-right-radius: 3px;*/
  /*border-bottom-left-radius: 3px;*/
  /*padding: 10px;*/
  /*width:100%;*/
/*}*/

/*.table-bordered {*/
  /*border: 1px solid #f4f4f4;*/
/*}*/

/*#th {*/
  /*z-index: 2;*/
  /*position: fixed;*/
  /*top: 10px;*/
  /*left: 300px;*/
  /*-moz-transition: left 0.5s ease;*/
  /*transition: left 0.5s ease;*/
/*}*/

/*input:checked ~ #th {*/
  /*left: 20px;*/
/*}*/

/*mat-drawer {*/
  /*background-color: rgba(0, 0, 0, 0.59);*/
/*}*/

/*@media only screen and (min-width: 768px){*/
  /*.box {*/
    /*margin-left: 5em;*/
  /*}*/
/*}*/

/*@media only screen and (min-width:1000px){*/
  /*.box {*/
    /*margin-left: 4em;*/
  /*}*/
/*}*/


.box-body {
  max-width: 100%;
  overflow-x: auto;
  Zoom: 0.9;

}
